# Database
DATABASE_URL="postgresql://intern:intern_password@localhost:5432/intern_tracker?schema=public"

# Better Auth
BETTER_AUTH_SECRET="replace-with-a-secure-random-string-at-least-32-chars"
BETTER_AUTH_URL="http://localhost:3000"
